*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
*.hprof
*.tgz
*.zip
*.war
*.ear
thumbs.db
Thumbs.db
*.swp
*.swo
*~
~$*
.DS_Store?
.project
.classpath
.settings/
*.tmp
*.bak
*.orig
lint/generated/
lint/reports/
lint/intermediates/
